@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}
@if (User.Identity.IsAuthenticated)
{
   
    <div class="jumbotron">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">

                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>


                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>

            </ol>


            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <div class="item active">
               
                    <img src="~/Image/152574.jpg" />
                    <div class="carousel-caption">
                        @if (User.IsInRole("Administrators"))
                        {
                            <a href="~/Trainers" style="color:black" class="btn btn-default active" role="button" aria-pressed="true">Manage Trainer</a>
                        }
                    </div>
                </div>



                <div class="item">

                    <img src="~/Image/152574.jpg" />
                    <div class="carousel-caption">
                        @if (User.IsInRole("Trainer"))
                        {
                            <a href="~/Trainees" style="color:black" class="btn btn-default active" role="button" aria-pressed="true">Manage Trainee</a>
                        }
                    </div>
                </div>

                <div class="item">

                    <img src="~/Image/152574.jpg" />

                    <div class="carousel-caption">
                        @if (User.IsInRole("Trainer"))
                        {
                            <a href="~/Courses" style="color:black" class="btn btn-default active" role="button" aria-pressed="true">Manage Course</a>
                        }
                    </div>
                </div>

                <div class="item">

                    <img src="~/Image/152574.jpg" />

                    <div class="carousel-caption">
                        @if (User.IsInRole("Trainer"))
                        {
                            <a href="~/CourseCategories" style="color:black" class="btn btn-default  active" role="button" aria-pressed="true">Manage Category</a>
                        }
                    </div>
                </div>

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


    </div>
}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>